<?xml version="1.0"?>
<launch>
    <!-- Starting position and orientation -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1"/>
    <arg name="R" default="0"/>
    <arg name="P" default="0"/>
    <arg name="Y" default="0"/>

    <!-- Goal position -->
    <arg name="goal_x" default="0"/>
    <arg name="goal_y" default="-7"/>
    <arg name="goal_z" default="1"/>

    <!-- 
        Override the z pose given to MAVROS to spawn the UAV (default: 0)
        The arg z is used by the global planner and the traj tracker.
        The arg init_z is used by MAVROS to set the initial UAV pose, and by
        the offet_poses utility.
    -->
    <arg name="init_z" default="0"/>
    <param name="/start/init_z" value="$(arg init_z)"/>

    <!-- Global ROS parameters for starting and goal position -->
    <param name="/start/x" value="$(arg x)"/>
    <param name="/start/y" value="$(arg y)"/>
    <param name="/start/z" value="$(arg z)"/>

    <param name="/goal/x" value="$(arg goal_x)"/>
    <param name="/goal/y" value="$(arg goal_y)"/>
    <param name="/goal/z" value="$(arg goal_z)"/>

    <!-- World dimensions for global planner and EDT computation -->
    <param name="/world/x/min" value="-27"/>
    <param name="/world/x/max" value="27"/>
    <param name="/world/y/min" value="-27"/>
    <param name="/world/y/max" value="27"/>
    <param name="/world/z/min" value="0"/>
    <param name="/world/z/max" value="4"/>

    <!-- Monitoring -->
    <arg name="monitoring" default="false"/>
    <arg name="trialId" default="0"/>
    <arg name="configId" default="0"/>
    <arg name="mapId" default="0"/>
    <param name="/autopilot/done" value="0"/> <!-- (0: not done, 1: success, 2: failure local planner, 3: failure global planner, 4: invalid map) -->
    <param name="/log/active" value="$(arg monitoring)"/>
    <param name="/log/trialId" value="$(arg trialId)"/>
    <param name="/log/configId" value="$(arg configId)"/>
    <param name="/log/mapId" value="$(arg mapId)"/>

    <!-- World, vehicle and octomap configuration -->
    <arg name="world" default="test_zone"/>
    <arg name="vehicle" default="iris"/>
    <arg name="octomap" default="$(find autopilot)/octomaps/$(arg world).bt"/>

    <!-- Launch ROS, MAVROS, PX4, Gazebo -->
    <include file="$(find px4)/launch/mavros_posix_sitl.launch">
        <arg name="x" default="$(arg x)"/>
        <arg name="y" default="$(arg y)"/>
        <arg name="z" default="$(arg init_z)"/>
        <arg name="R" default="$(arg R)"/>
        <arg name="P" default="$(arg P)"/>
        <arg name="Y" default="$(arg Y)"/>
        <arg name="vehicle" default="$(arg vehicle)"/>
        <arg name="world" default="$(find autopilot)/worlds/$(arg world).world"/>
        <arg name="sdf" default="$(find mavlink_sitl_gazebo)/models/$(arg vehicle)/$(arg vehicle).sdf"/>
    </include>

    <!-- Octomap server -->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" args="$(arg octomap)">
        <remap from="cloud_in" to="/autopilot/point_cloud" />
    </node>

    <!-- Smal republishing with an offset of poses for visualization -->
    <node pkg="autopilot" type="offset_poses" name="offset_poses"></node>

    <!-- Rviz visualization tool -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autopilot)/config.rviz"></node>

    <!-- Trajectory tracker -->  
    <node pkg="geometric_controller" type="geometric_controller_node" name="geometric_controller" output="screen">
        <param name="mav_name" type="string" value="$(arg vehicle)" />
        <remap from="command/bodyrate_command" to="/mavros/setpoint_raw/attitude"/>
        <param name="ctrl_mode" value="2" />
        <param name="enable_sim" value="true" />
    </node>

    <!-- Initial pose given to the tracker -->
    <node pkg="rostopic" type="rostopic" name="rostopic" 
        args="pub -1 /reference/flatsetpoint controller_msgs/FlatTarget '{type_mask: 2, position: {x: 0.0, y: 0.0, z: $(arg z)}}'"
    />

    <!-- Set EDT generation config -->
    <param name="/local_planner/generate_edt" value="True"/>
    <param name="/trajectory_sampler/generate_edt" value="False"/>
    <param name="/logger/generate_edt" value="False"/>

    <!-- Tf parameter: Time to fly one primitive -->
    <param name="/local_planner/tf" value="1.2"/>

    <!-- Global planner -->
    <node pkg="autopilot" type="incr_global_planner.py" name="global_planner" args="" output="screen">
        <param name="generate_edt" value="True"/>
    </node>

    <!-- Local planner -->
    <node pkg="autopilot" type="local_planner" name="local_planner" output="screen"/>

    <!-- Main navigation controller -->
    <node pkg="autopilot" type="sampler.py" name="sampler" output="screen"/>

    <!-- Logger -->
    <node pkg="autopilot" type="logger.py" name="logger"/>
</launch>
